<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Lachlan Donald" />
    <link rel="stylesheet" type="text/css" href="/static/screen.css" />
    <link rel="stylesheet" type="text/css" href="/static/zocial/zocial.css" />
    <script type="text/javascript" src="//use.typekit.net/nlb1ycx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        {{ content }}
        <ol class="social">
          <li><a href="mailto:lachlan@ljd.cc" class="zocial email">lachlan@ljd.cc</a></li>
          <li><a href="http://github.com/lox" class="zocial github">lox on github</a></li>
          <li><a href="http://twitter.com/lox" class="zocial twitter">@lox</a></li>
          <li><a href="http://www.linkedin.com/in/lachlandonald" class="zocial linkedin">linkedin</a></li>
        </ol>
      </div>
    </div>
  </body>
</html>
